:root {
    --background-color: lightskyblue;
}

/* Containers */
body {
    background: var(--background-color);
    place-items: center;
    font-size: 1.35rem;
}
.grandparent {
    display: grid;
    place-items: center;
    background: var(--bg, --background-color);
    padding: 2%;
    width: 100%;
    height: 100%;
    height: var(--h, 100%);
    resize: both;
    overflow: auto;
}
.parent {
    display: grid;
    place-items: center;
    width: 100%;
    height: var(--h, auto);
}
#picParent {
    width: 90%;
    max-height: 60%;
    background: red;
    display: flex;
    justify-content: center;
}


/* Elements Classes */
.label { /* Common label class */
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}
.title { /* Bigger than label. Used for titles */
    text-align: center;
    width: 80%;
    font-size: 4rem;
    padding: 1.2rem;
    background: rgb(39, 189, 240);
    border-radius: 18px;
}
#nameTb { /* Textbox class */
    padding: 0.5rem;
    border-radius: 10px;
    border: 1.5px solid blue;
    background: lightskyblue;
    font-size: 2rem;
    text-align: center;
}
#canvas { /* Canvas at createPlayer */
    display: none;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}
img { /* Img at createPlayer */
    display: inline;
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}
    /* Btn */
.btn { /* Summit btn */
    /* background: red; */
    width: 60%;
    height: 40%;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    
}
.iconBtn { /* Btn to crop the img at createPlayer */
    text-transform: capitalize;
    padding: 2%;
    height: autos;
}

/* MAINMENU */
.verticalRows {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(var(--r, 5), 1fr);
    height: var(--h, 85%);
}
.horizontalCols {
    display: grid;
    place-items: center;
    width: 100%;
    height: var(--h, 100%);
    grid-template-columns: repeat(var(--c, 3), 1fr);
    padding: 0.7rem;
}


/* top */
.score {
    display: flex;
    place-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.score-M {
    font-size: fit-width;
}
.score-nPlayers {
    text-align: center;
    background: rgb(97, 223, 255);
}
#score-specialM {
    text-align: center;
}

/* main */
.playercontainer {
    grid-column: var(--pos, 1);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    align-content:center;
    background: rgb(98, 193, 252);
}
.left-side {
    --pos: 1;
}
.right-side {
    --pos: 3;
}

.playerData {
    text-align: center;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}
.username {
    width: 40%;
}
.playerGunTorch {
    max-width: 25%;
}