/* CONSTANTS */

:root {
    /* Teams colors */
    --blue: rgb(42, 113, 161);
    --red: rgb(166, 23, 59);

    /* mission */
    --cMissionColor: rgb(255, 255, 61);
    --resistanceColor: rgb(18, 137, 216);
    --chunguitoColor: rgb(166, 23, 59);
    --baseColor: rgb(181, 181, 181);

    /* Colors */
    --black: rgb(20, 20, 20);

    /* TextSize */
    --hugeText: 0px;
    --biggerText: 0px;
    --bigText: 0px;
    --normalText: 0px;
    --smallText: 0px;
    --detailText: 0px;
}
* {
    color: var(--black);
}
body{
    place-items: center;
    background: linear-gradient(180deg, var(--blue) 10%, var(--red) 90%);
}


/* CREATEPLAYER */

/* Containers */
.grandparent {
    display: grid;
    place-items: center;
    padding: 2%;
    width: 100%;
    height: 100%;
    height: var(--h, 100%);
    resize: both;
    overflow: auto;
}
.parent {
    display: grid;
    place-items: center;
    width: 100%;
    height: var(--h, auto);
}
#picParent {
    width: 90%;
    max-height: 60%;
    background: red;
    display: flex;
    justify-content: center;
}


/* Elements Classes */
.label { /* Common label class */
    padding: 0.5rem;
    font-size: var(--smallText);
    text-align: center;
}
.title { /* Bigger than label. Used for titles */
    text-align: center;
    font-size: var(--hugeText);
}
#nameTb { /* Textbox class */
    padding: 0.5rem;
    border-radius: 10px;
    border: 4px solid black;
    background: white;
    font-size: 2rem;
    text-align: center;
}
#canvas { /* Canvas at createPlayer */
    display: none;
    background-color: #ffffff;
    cursor: default;
}
img { /* Img at createPlayer */
    display: inline;
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}
    /* Btn */
.btn { /* Summit btn */
    /* background: red; */
    width: 60%;
    height: 40%;
    text-transform: capitalize;
    font-size: var(--normalText);
    border-radius: 1.5rem;
    
}
.iconBtn { /* Btns to crop the img at createPlayer */
    /* background */
    --mdc-theme-primary: none; 
    /* text color */
    --mdc-theme-on-primary: black;
    
    padding: 5%;
    width: 70%;
    height: auto;

    border: 5px solid black;
    border-radius: 20px;
    text-transform: capitalize;
}

/* WAITING ROOM */
.secretBtn {
    background: rgb(255, 97, 97);
}

#waitingLabel {
    margin-bottom: 10%;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 8px;
    border: 40px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* MEETUP */

#submitBtn {
    background: none;
    border: solid black 10px;
    border-radius: 50px;
    color: black;
}
hr {
    border: 1px solid black;
}
.toMainMenuBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 10px solid black;
    border-radius: 30px;
}
i {
    text-transform: capitalize;
}


/* MAINMENU */
.verticalRows {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(var(--r, 5), 1fr);
    height: var(--h, 85%);
    /* width: var(--w, 100%); */
}
.horizontalCols {
    display: grid;
    place-items: center;
    width: 100%;
    height: var(--h, 100%);
    grid-template-columns: repeat(var(--c, 3), 1fr);
    padding: 0.7rem;
}


/* top */
@keyframes missionBlink {
    0% {
        background: var(--baseColor);
      }
      50% {
        background-color: var(--cMissionColor);
      }
      100% {
        background-color: var(--baseColor);
      }
}
.missionContainer {
    display: flex;
    place-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
}
.missionSticker {
    text-align: center;
    background: var(--baseColor);
    box-shadow: 10px 10px 5px black;

    
    /* height: 100%; */
    height: calc(var(--bigText) * 1.25);
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: var(--bigText);
}
.cMissionSticker {
    animation: missionBlink 2000ms infinite;
}
#specialMtag {
    /* 2 fallos tag */
    margin-top: calc(var(--detailText) * 0.5);
    font-size: var(--detailText);
}

/* main */
.playercontainer {
    grid-column: var(--pos, 1);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content:center;
    justify-content: center;
}
.playerIcon {
    /* height: 50%; */
    margin-top: 0px;
    margin-bottom: 0px;
    
    height: calc(var(--hugeText) * 1.5);
    aspect-ratio: 1;

}
.left-side {
    --pos: 1;
}
.right-side {
    --pos: 3;
}
.playerData {
    height: var(--h, 25%);
    width: var(--w, 85%);
    display: flex;
    align-items: center;
}

div .username {
    display: block;
    width: 100%;
    text-align: center;
}
.username {
    font-size: var(--detailText);
}
.playerGunTorch {
    height: var(--normalText); 
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    aspect-ratio: 1;
}

.PollContainer {
    width: 85%;
    border-radius: 20px;
    border: solid black 5px;
}
.PollText {
    font-size: var(--hugeText);
}

/* popups */
.popUpFrame {
    position:fixed;
    top: 0px;
	left: 0px;

    width: 100%;
	height: 100%;
	
    display: flex;
	align-items: center;
	justify-content: center;
}
.popUp {
    width: 70%;
    aspect-ratio: 2.3;
    
    background: var(--bg, white);

    padding: 2vh;
    border: 10px solid black;
    border-radius: 30px;
}

.smallLabel  {
    font-size: var(--smallText);
    text-align: center;
}

.continueBtn {
    width: 50%;
    margin: 2vh;

    border: 5px solid black;
    border-radius: 20px;
}



/* RootMenu */

#rootMenu_leaderIcon {
    background: url(../../Res/img/torch.png);
    height: 90%;
    background-size: contain;
}
.rootMenu_playerList {
    background: green; width: 100%; height: 100%;
}

/* MissionPoll */
.missionCard {
    display: flex;
    align-items: center;
    
    width: 45%;
    height: 80%;
    border-radius: 20px;
    border: 9px solid black;

    transition: all 0.4s linear;
}
.missionCard.failuremission {
    background: var(--red);
    margin-left: 3%;
    margin-right: 2%;
}
.missionCard.successmission {
    background: var(--blue);
    margin-left: 2%;
    margin-right: 3%;
}

.missionCard p {
    text-align: center;
    width: 100%;
    font-size: var(--biggerText);
}

.missionCard.selected,
.missionCard.selected:before,
.missionCard.selected:after {
    width: 70%;
    height: 100%;
    border-radius: 50px;
}