[Unit]
Description=Interpreter of the bluetooth messages
After=bluetoothCommunication.service
Requires=bluetoothCommunication.service

[Service]
User=ubuntu
ExecStart=/usr/bin/sudo /bin/sh /usr/bin/bluetoothInterpreter.sh

[Install]
WantedBy=multi-user.target