/* @use "node_modules/@material/button";

@include button.core-styles; */

.granparent {
    display: grid;
    place-items: center;

    background: lightskyblue;
    padding: 2%;
    width: 100%;
    min-height: 800px;
    height: 100%;

    resize: both;
    overflow: auto;
}
.parent {
    display: grid;
    place-items: center;
    /* background: green; */
    width: 100%;
}
.child {
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}
.title {
    text-align: center;
    width: 80%;
    font-size: 4rem;
    padding: 1.2rem;
    background: rgb(39, 189, 240);
    border-radius: 18px;
}

#fname {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1.5px solid blue;
    background: lightskyblue;
    font-size: 2rem;
    text-align: center;
}

body {
    font-family: system-ui, serif;
    place-items: center;
    background: lightskyblue;

}

.btn {
    background: red;
    width: 50%;
    height: 40%;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-radius: 2rem;
}