.elemento {
    background: var(--c, yellow);
    /* width: 500px; */
    /* width: 100%; */
    height: 10%;
}

:root {
    --huge: 0px;
    --big: 0px;
    --normal: 0px;
    --detail: 0px;
}

.huge {
    font-size: var(--hugeText);
}

.big {
    font-size: var(--bigText);
}
.bigger {
    font-size: var(--biggerText);
}
.normal {
    font-size: var(--normalText);
}
.small {
    font-size: var(--smallText);
}
.detail {
    font-size: var(--detailText);
}

.variable {
     font-size: calc(var(--detailText) * var(--m, 1));
}
